.header {
    display: flex;
    width: 1260px;
    margin: auto;

    h1 {
        font-family: "Poppins";
        font-size: 2rem;
        text-transform: uppercase;
        color: #3c4143;
    }
}
